* {
  margin: 0;
  padding: 0;
}

:root {
  --mainColor: #724e02;
  --secondaryColor: rgb(199, 212, 209);
  --darkGray: #171717;
  --gray: #666666;
  --lightGray: #818181;
  --white: #ffffff;
  --black: #000000;
}

body {
  font-family: "Roboto";
  background-color: var(--white);
  color: var(--gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto";
  font-weight: 700;
}

a {
  text-decoration: none;
}

.decor-list {
  margin-left: 1rem;
  margin-top: 10px;
  font-size: 0.7rem;
  list-style-type: none;
}

.decor-list li {
  padding-bottom: 10px;
}
